Requirements to run files included in this repository are as follows:

* Set up a Python 3.12.4 friendly environment and import its various libraries including Numpy, SciPy, MatplotLib.plot, Seaborn and Pandas downloaded from Anaconda. 

* Use Jupiter Notebook text-editor to run all the programs (tasks.ipynb and project.ipynb). Make sure the Jupiter Notebook Kernel is ready and Trusted when running the programs. Save the file at Save and Checkpoint when you finish running the programs.

*You can also run the program on command line on Cmder (Console Emulator) and VSC (Visual Studio Code) console, code-space via GitHub account(GitHub Codespaces gets you up and coding faster with fully configured, secure cloud development environments native to GitHub), and other text editors. 

* Note that both programs, tasks.ipynb and project.ipynb are written under Windows OS (Operation Systems); in which relevant commands are required for the OS functionality.

* Download the dataset PlantGrowth R csv file or their URL: PlantGrowth function - RDocumentation, for data manipulation, analysis and visualisation, using Pandas DataFrame() function.

* Use the dataset provided on the assessment description for Task 3: t-Test Calculation, related to Patients Resting Heart Beat rates before and after embarking on a two-week exercise program for data manipulation, analysis and visualization using Pandas for DataFrame and sciPy-stats fort-tests and ANOVA computations and operations. Matplolib.pyplot has been used for several plotting within both notebooks.

* Regarding images included in both Jupiter Notebooks, they are available online and obtained from lecture notes.
